@charset "UTF-8";

/*
Custom CSS
*/

.section-spacing-custom {
  padding-top: 120px;
  padding-bottom: 20px;
}

.section-spacing-bottom-custom {
  padding-top: 120px;
  padding-bottom: 80px;
}

.section-spacing {
  padding-bottom: 180px;
}

.postbox__navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.free-quote-btn {
  font-size: 20px;
  background: #222222;
  color: #ffffff;
}

.top-section-banner {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top-banner-right {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.top-banner-right-tp {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.top-banner-right-bt {
  padding: 0;
}

.top-banner-main-image {
  border-radius: 30px;
  filter: drop-shadow(2px 4px 6px black);
}

.top-banner-main-button {
  position: inherit;
}
/*home section 2*/
.section-1-home {
  padding-top: 0px;
  padding-bottom: 220px;
}
.section-2-home {
  background-image: url(https://trekgit.github.io/itrekdesigns-2023/itrekdesigns-2023-assets/img/bg/grid-line-4.png);
  background-color: #222222;
  padding: 120px 0px;
}

/*thank you page*/
.tpl__item-center {
  margin-top: 100px;
}

@media only screen and (min-width: 576px) and (max-width: 767px),
  (max-width: 575px) {
  .menu__bar {
    display: inherit !important;
  }
  .free-quote-btn,
  .top-banner-right-tp {
    display: none;
  }
  .section-spacing-custom {
    padding-top: 80px;
    padding-bottom: 0px;
  }
  .top-banner-header {
    text-align: center;
  }
  .top-section-banner {
    flex-wrap: wrap;
  }
  .top-banner-right {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .top-banner-right-tp {
    height: 70%;
    width: 100%;
  }
  .top-banner-right-bt {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .top-banner-main-button {
    transform: unset;
    margin-top: 0;
    transform-origin: center;
    position: inherit;
  }
  .top-banner-main-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
  }
  .top-banner-header-space {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-spacing-bottom-custom {
    padding-bottom: 100px;
    padding-top: 80px;
  }
  .top-banner-header-space {
    margin-top: 15px;
  }
}
