@charset "UTF-8";

/*
Custom CSS
*/

.section-spacing-custom {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 576px) and (max-width: 767px),
  (max-width: 575px) {
  .section-spacing-custom {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}
